<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../public/images/logo.png">
    <!-- Link para as fontes Bebas Neue e Jost -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="/docs/5.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
    />

    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../public/styles/blog.css" />
    <title>Blog | Associação</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-181A1B p-0"
        style="height: 90px; margin-right: 15%"
      >
        <div class="container d-flex justify-content-center">
          <img
            id="logo1"
            src="../public/images/logopreto.jpg"
            class="navbar-brand m-0"
            href="#"
          />
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExample07"
            aria-controls="navbarsExample07"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarsExample07"
          >
            <ul class="navbar-nav mx-auto d-flex align-items-center">
              <li class="nav-item active">
                <a
                  class="nav-link d-flex align-items-center"
                  href="../index.html"
                >
                  <img id="logo" src="../public/images/logo.png" alt="Logo" />
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/sobre.html">Sobre</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown07"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Projetos
                </a>
                <ul class="dropdown-menu p-0" aria-labelledby="dropdown07">
                  <li>
                    <a class="dropdown-item" href="../views/projetos/bike.html"
                      >Bike na Favela</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/torry.html"
                      >A Torry Cultural
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/gibis.html"
                      >Mais + Gibis</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="../views/projetos/geloteca.html"
                      >Projeto Geloteca</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/doe.html"
                      >Projeto Doe Livro</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/cesta.html"
                      >Projeto Cesta Básica</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li>
                <a class="nav-link" id="bnt_contato">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/doe.html">Doe</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <article>
      <section>
        <div class="hero">
          <div class="overlay">
            <h1>blog</h1>
          </div>
        </div>

        <div class="container">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <img
              src="https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
              alt=""
            />

            <article class="blog-post">
              <h2 class="display-5 link-body-emphasis mb-1">
                Sample blog post
              </h2>
              <p class="blog-post-meta">
                January 1, 2021 by <a href="#">Mark</a>
              </p>

              <p>
                This blog post shows a few different types of content that’s
                supported and styled with Bootstrap. Basic typography, lists,
                tables, images, code, and more are all supported as expected.
              </p>
              <hr />

              <p>
                This is some additional paragraph placeholder content. It has
                been written to fill the available space and show how a longer
                snippet of text affects the surrounding content. We'll repeat it
                often to keep the demonstration flowing, so be on the lookout
                for this exact same string of text.
              </p>

              <h2>Blockquotes</h2>
              <p>This is an example blockquote in action:</p>
              <blockquote class="blockquote">
                <p>Quoted text goes here.</p>
              </blockquote>

              <p>
                This is some additional paragraph placeholder content. It has
                been written to fill the available space and show how a longer
                snippet of text affects the surrounding content. We'll repeat it
                often to keep the demonstration flowing, so be on the lookout
                for this exact same string of text.
              </p>

              <h3>Example lists</h3>
              <p>
                This is some additional paragraph placeholder content. It's a
                slightly shorter version of the other highly repetitive body
                text used throughout. This is an example unordered list:
              </p>
              <ul>
                <li>First list item</li>
                <li>Second list item with a longer description</li>
                <li>Third list item to close it out</li>
              </ul>

              <p>And this is an ordered list:</p>
              <ol>
                <li>First list item</li>
                <li>Second list item with a longer description</li>
                <li>Third list item to close it out</li>
              </ol>

              <p>And this is a definition list:</p>
              <dl>
                <dt>HyperText Markup Language (HTML)</dt>
                <dd>
                  The language used to describe and define the content of a Web
                  page
                </dd>
                <dt>Cascading Style Sheets (CSS)</dt>
                <dd>Used to describe the appearance of Web content</dd>
                <dt>JavaScript (JS)</dt>
                <dd>
                  The programming language used to build advanced Web sites and
                  applications
                </dd>
              </dl>

              <h2>Inline HTML elements</h2>
              <p>
                HTML defines a long list of available inline tags, a complete
                list of which can be found on the
                <a
                  href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"
                  >Mozilla Developer Network</a
                >.
              </p>
              <ul>
                <li>
                  <strong>To bold text</strong>, use
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;strong&gt;</code
                  >.
                </li>
                <li>
                  <em>To italicize text</em>, use
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;em&gt;</code
                  >.
                </li>
                <li>
                  Abbreviations, like
                  <abbr title="HyperText Markup Language">HTML</abbr> should use
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;abbr&gt;</code
                  >, with an optional
                  <code class="language-plaintext highlighter-rouge"
                    >title</code
                  >
                  attribute for the full phrase.
                </li>
                <li>
                  Citations, like <cite>— Mark Otto</cite>, should use
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;cite&gt;</code
                  >.
                </li>
                <li>
                  <del>Deleted</del> text should use
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;del&gt;</code
                  >
                  and <ins>inserted</ins> text should use
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;ins&gt;</code
                  >.
                </li>
                <li>
                  Superscript <sup>text</sup> uses
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;sup&gt;</code
                  >
                  and subscript <sub>text</sub> uses
                  <code class="language-plaintext highlighter-rouge"
                    >&lt;sub&gt;</code
                  >.
                </li>
              </ul>

              <p>
                Most of these elements are styled by browsers with few
                modifications on our part.
              </p>

              <h2>Heading</h2>
              <p>
                This is some additional paragraph placeholder content. It has
                been written to fill the available space and show how a longer
                snippet of text affects the surrounding content. We'll repeat it
                often to keep the demonstration flowing, so be on the lookout
                for this exact same string of text.
              </p>

              <h3>Sub-heading</h3>
              <p>
                This is some additional paragraph placeholder content. It has
                been written to fill the available space and show how a longer
                snippet of text affects the surrounding content. We'll repeat it
                often to keep the demonstration flowing, so be on the lookout
                for this exact same string of text.
              </p>

              <pre><code>Example code block</code></pre>

              <p>
                This is some additional paragraph placeholder content. It's a
                slightly shorter version of the other highly repetitive body
                text used throughout.
              </p>
            </article>
          </div>
        </div>
      </section>
    </article>

    <hr />

    <div class="container">
      <footer class="pt-5">
        <div class="container">
          <!-- Adiciona limites e centralização -->
          <div
            class="row d-flex align-items-center justify-content-center text-center pb-4"
          >
            <!-- Logo -->
            <div class="col-auto me-5">
              <img
                style="width: 100px; height: auto"
                src="../public/images/logo.png"
                alt="Logo"
              />
            </div>

            <!-- Endereço -->
            <div class="col-md-3">
              <h2 class="fs-5">NOSSO ENDEREÇO</h2>
              <p class="mb-0">
                R. do Campo, 49 - z - Jardim Rodolfo Pirani, São Paulo - SP,
                08310-266
              </p>
            </div>

            <!-- E-mail -->
            <div class="col-md-3">
              <h2 class="fs-5">CONTATO</h2>

              <div class="d-flex align-items-center">
                <a class="link-body-emphasis me-2" href="#" aria-label="Email">
                  <i class="bi bi-envelope" style="font-size: 1.5rem"></i>
                </a>
                <p class="mb-0 fs-5">associacaobarracogaleriaart@gmail.com</p>
              </div>

              <div class="d-flex align-items-center">
                <a
                  class="link-body-emphasis me-2"
                  href="#"
                  aria-label="WhatsApp"
                >
                  <i class="bi bi-whatsapp" style="font-size: 1.5rem"></i>
                </a>
                <p class="mb-0 fs-5">(11) 97830-6166</p>
              </div>
            </div>

            <!-- Redes sociais -->
            <div class="col-md-3">
              <h2 class="fs-5">NOS SIGA NAS REDES SOCIAIS!</h2>
              <ul class="list-unstyled d-flex justify-content-center mt-2">
                <li class="me-3">
                  <a
                    class="link-body-emphasis"
                    href="https://www.instagram.com/associacao_barraco_galeria_art/"
                    aria-label="Instagram"
                  >
                    <i class="bi bi-instagram" style="font-size: 1.5rem"></i>
                  </a>
                </li>
                <!--<li>
                    <a class="link-body-emphasis" href="#" aria-label="Facebook">
                      <i class="bi bi-facebook" style="font-size: 1.5rem"></i>
                    </a>
                  </li>-->
              </ul>
            </div>
          </div>
        </div>

        <div
          class="d-flex flex-column align-items-center justify-content-center py-2 my-2 border-top"
        >
          <p>&copy; 2025 - Associação Barraco Galeria ArtEducação</p>
          <p>Projeto acadêmico para Universidade Nove de Julho</p>
        </div>
      </footer>
    </div>
    <script>
      document
        .getElementById('bnt_contato')
        .addEventListener('click', function () {
          window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth',
          });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
