<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles/style.css" />
    <!-- Link para as fontes Bebas Neue e Jost -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Link para o Bootstrap Icons -->
    <title>Início | Associação</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="projetos.html">Projetos</a></li>
          <li><a href="historia.html">História</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          <li><a id="bnt_contato">Contato</a></li>
        </ul>
      </nav>
    </header>

    <!-- Carrossel -->
    <div class="carousel-container">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://img.freepik.com/fotos-gratis/pessoas-empilhando-as-maos-juntas-no-parque_53876-63293.jpg?ga=GA1.1.442348838.1728325227&semt=ais_hybrid"
              class="d-block w-100"
              alt="Imagem 1"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Nossa Missão</h5>
              <p>Trabalhamos para um futuro melhor!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://img.freepik.com/fotos-gratis/maos-de-arvores-que-crescem-mudas_1150-44332.jpg?ga=GA1.1.442348838.1728325227&semt=ais_hybrid"
              class="d-block w-100"
              alt="Imagem 2"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Ajude-nos a Transformar</h5>
              <p>Juntos, podemos fazer a diferença.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://img.freepik.com/fotos-gratis/feche-o-trabalho-em-equipe-voluntario-de-pessoas-colocando-o-dedo-nas-maos-em-forma-de-estrela-juntospilha-de-maosunidade-e-trabalho-em-equipe-no-dia-mundial-do-meio-ambiente_640221-299.jpg?ga=GA1.1.442348838.1728325227&semt=ais_hybrid"
              class="d-block w-100"
              alt="Imagem 3"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Seja Voluntário</h5>
              <p>Venha fazer parte dessa causa!</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>
    </div>

    <!-- Seção de Cards -->
    <div class="container_content">
      <h1 class="text-center mb-4">Nossos Projetos</h1>

      <div class="container_proj">
        <div class="proj_img">
          <img src="/public/images/mais-gibi.jpg" alt="" />
        </div>

        <div class="proj_text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            bibendum mi vitae scelerisque tempus. Nam sit amet ante pretium,
            finibus tellus nec, feugiat ex. Fusce non mauris eget mi convallis
            aliquet ut ut quam. Sed suscipit vulputate ligula sed porttitor.
            Nulla nec nisi scelerisque, pharetra enim quis, scelerisque libero.
            Curabitur ac aliquet eros. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia curae; Integer semper ac
            nunc at dignissim. Pellentesque ipsum odio, vehicula quis facilisis
            ac, cursus non urna.
          </p>
        </div>
      </div>

      <div class="container_proj1">
        <div class="proj_img">
          <img src="/public/images/mais-gibi.jpg" alt="" />
        </div>

        <div class="proj_text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            bibendum mi vitae scelerisque tempus. Nam sit amet ante pretium,
            finibus tellus nec, feugiat ex. Fusce non mauris eget mi convallis
            aliquet ut ut quam. Sed suscipit vulputate ligula sed porttitor.
            Nulla nec nisi scelerisque, pharetra enim quis, scelerisque libero.
            Curabitur ac aliquet eros. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia curae; Integer semper ac
            nunc at dignissim. Pellentesque ipsum odio, vehicula quis facilisis
            ac, cursus non urna.
          </p>
        </div>
      </div>

      <div class="container_proj2">
        <div class="proj_img">
          <img src="/public/images/mais-gibi.jpg" alt="" />
        </div>

        <div class="proj_text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            bibendum mi vitae scelerisque tempus. Nam sit amet ante pretium,
            finibus tellus nec, feugiat ex. Fusce non mauris eget mi convallis
            aliquet ut ut quam. Sed suscipit vulputate ligula sed porttitor.
            Nulla nec nisi scelerisque, pharetra enim quis, scelerisque libero.
            Curabitur ac aliquet eros. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia curae; Integer semper ac
            nunc at dignissim. Pellentesque ipsum odio, vehicula quis facilisis
            ac, cursus non urna.
          </p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>Projeto acadêmico para Universidade Nove de Julho</p>
      <a
        href="https://www.instagram.com/sbmd_t.m/?utm_source=qr&igsh=a3FxNXowbm1wdmVl"
        >Instagram</a
      >
    </div>

    <script>
      document
        .getElementById('bnt_contato')
        .addEventListener('click', function () {
          window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth',
          });
        });
    </script>
  </body>
</html>
