<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/ProjetoONG_2025/public/styles/style.css" />
    <title>Sobre</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.html">Início</a></li>
          <li><a href="projetos.html">Projetos</a></li>
          <li><a href="historia.html">História</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          <li><a id="bnt_contato">Contato</a></li>
        </ul>
      </nav>
    </header>

    <script>
      document
        .getElementById('bnt_contato')
        .addEventListener('click', function () {
          window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth',
          });
        });
    </script>
  </body>
</html>
