<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre | Associação</title>
    <link rel="stylesheet" href="../public/styles/sobre.css" />
    <link rel="icon" href="../public/images/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <header>
       <nav
        class="navbar navbar-expand-lg navbar-dark bg-181A1B p-0"
        style="height: 90px"
      >
        <div
          class="container position-relative d-flex justify-content-center align-items-center"
        >
          <img id="logo1" src="../public/images/logopreto.jpg" href="#" />

          <a
            class="position-absolute start-50 translate-middle-x me-5"
            href="../views/principal.html"
          >
            <img id="logo" src="../public/images/logo.png" alt="Logo" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarsExample07"
            aria-controls="navbarsExample07"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarsExample07"
          >
            <ul
              class="navbar-nav position-absolute start-50 translate-middle-x"
            >
              <li class="nav-item active"></li>

              <li class="nav-item">
                <a class="nav-link" href="../views/sobre.html">Sobre</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown07"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Projetos
                </a>
                <ul class="dropdown-menu p-0" aria-labelledby="dropdown07">
                  <li>
                    <a class="dropdown-item" href="../views/projetos/bike.html"
                      >Bike na Favela</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/torry.html"
                      >A Torry Cultural
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/gibis.html"
                      >Mais + Gibis</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="../views/projetos/geloteca.html"
                      >Projeto Geloteca</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/livro.html"
                      >Projeto Doe Livro</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="../views/projetos/cesta.html"
                      >Projeto Cesta Básica</a
                    >
                  </li>
                </ul>
              </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>-->
              <li>
                <a class="nav-link" id="bnt_contato">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/doe.html">Doe</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <article>
      <div class="container container_hist my-5">
        <h1 class="text-center mb-4">Nossa História</h1>
        <section>
          <h3><i class="bi bi-person-fill"></i> Quem Somos</h3>
          <p>
            A Barraco Galeria de Arte nasceu da minha história. Eu morei em um
            barraco de madeira, ali no Jardim Colonial, ao lado de um córrego
            com uma tubulação enorme. Para mim, aquilo era mais do que um lugar:
            era um portal, um globo mágico onde eu podia flutuar com a
            imaginação. Esse barraco virou símbolo da minha trajetória e, hoje,
            da galeria. Sempre gostei de desenhar. Estudei arte plástica,
            caligrafia, grafite, história da arte, arte visual, contemporânea,
            moda... E um dia pensei: "Não existe nenhuma galeria com o nome
            'Barraco Galeria de Arte'!". Como sou uma pessoa autêntica e meus
            amigos sempre disseram que eu devia falar do que eu vivo, decidi
            assumir minha história — com orgulho. Mas a galeria não poderia
            existir sem um propósito social. Principalmente dentro da favela.
            Por isso, a Barraco Galeria de Arte também é um projeto de
            transformação. Trabalhamos com arte e cultura, sim, mas também com
            alimentação, tecnologia, educação e formação de novas lideranças.
            Nossa galera é feita de mentes pensantes: artistas, músicos,
            professores, ativistas, advogados, assistentes sociais, moradores de
            rua, moleques de rua... gente comum que acredita na mudança. Mais do
            que um espaço de exposição, a Barraco Galeria de Arte virou uma
            associação. Um projeto em constante construção, fermentando ideias
            boas, puras, verdadeiras e funcionais. Porque acreditamos que a
            educação muda o ser humano, transforma o lugar onde moramos e pode
            mudar o mundo.
          </p>

          <img
            src="../public/images/fundador_ong_.jpg"
            alt="Nego Tinho"
            class="img-fluid rounded mt-3"
          />
          <img
            src="../public/images/frente.jpg"
            alt="Nego Tinho"
            class="img-fluid rounded mt-3"
            style="width: 325px"
          />
        </section>

        <section>
          <h3><i class="bi bi-person-fill"></i> Missão</h3>
          <p>
            Transformar vidas por meio da arte, cultura, educação e ação social,
            promovendo a profissionalização, o protagonismo e a formação de
            lideranças dentro das periferias, especialmente no bairro de São
            Mateus. Valorizamos histórias reais, fomentamos o acesso à cultura e
            criamos pontes entre a criatividade e a transformação social.
          </p>
        </section>

        <section>
          <h3><i class="bi bi-search"></i> Visão</h3>
          <p>
            Ser uma referência nacional e internacional como galeria e projeto
            social enraizado na favela, que inspira outras periferias a se
            reconhecerem como potências criativas, educativas e humanas.
            Construir um futuro em que a arte seja um direito acessível, e a
            comunidade, protagonista da própria mudança.
          </p>
        </section>

        <section>
          <h3><i class="bi bi-person-fill"></i> Valores</h3>
          <ul>
            <li>
              Autenticidade: Nossa origem é nossa força. A favela, a história
              pessoal e o cotidiano inspiram e sustentam nosso fazer artístico e
              social.
            </li>

            <li>
              Transformação: Acreditamos no poder da educação, da arte e da
              cultura como ferramentas de mudança individual e coletiva.
            </li>

            <li>
              Acolhimento: Trabalhamos com e para as pessoas. Famílias,
              crianças, jovens e idosos são parte ativa do nosso projeto.
            </li>

            <li>
              Resistência: Atuamos em um território vulnerável, levando
              dignidade, alimento, livros e consciência social como atos de
              ativismo.
            </li>

            <li>
              Colaboração: Valorizamos parcerias, apoios e o trabalho voluntário
              como forma de crescimento mútuo e fortalecimento da rede.
            </li>

            <li>
              Raízes: Honramos nossas referências, ancestrais e líderes
              comunitários que pavimentaram o caminho da luta e da arte nas
              periferias.
            </li>
          </ul>
        </section>

        <!--
      <section>
        <h3><i class="bi bi-heart-fill"></i> Como Ajudar</h3>
        <p>Estamos no começo e toda ajuda conta! Você pode contribuir com:</p>
        <ul>
          <li>Voluntariado</li>
          <li>Ajuda financeira (PIX)</li>
          <li>Ideias de curto, médio e longo prazo</li>
        </ul>
        <p>
          A transparência é essencial, e todo valor arrecadado é direcionado à
          causa.
        </p>
        <img
          src="img/ajuda.jpg"
          alt="Ajuda e doações"
          class="img-fluid rounded mt-3"
        />
      </section>

      <section>
        <h3><i class="bi bi-instagram"></i> Acompanhe e Apoie</h3>
        <p>
          Siga nosso trabalho pelo <strong>Instagram</strong>, acesse nosso
          <strong>site</strong> ou venha nos conhecer pessoalmente. Sua
          participação faz a diferença!
        </p>
        <img
          src="img/redes.jpg"
          alt="Redes sociais"
          class="img-fluid rounded mt-3"
        />
      </section>

      --></div>
    </article>
    <hr />
    <div class="container">
      <footer class="pt-5">
        <div class="container">
          <!-- Adiciona limites e centralização -->
          <div
            class="row d-flex align-items-center justify-content-center text-center pb-4"
          >
            <!-- Logo -->
            <div class="col-auto me-5">
              <img
                style="width: 100px; height: auto"
                src="../public/images/logo.png"
                alt="Logo"
              />
            </div>

            <!-- Endereço -->
            <div class="col-md-3">
              <h2 class="fs-5">NOSSO ENDEREÇO</h2>
              <p class="mb-0">
                R. do Campo, 49 - z - Jardim Rodolfo Pirani, São Paulo - SP,
                08310-266
              </p>
            </div>

            <!-- E-mail -->
            <div class="col-md-3">
              <h2 class="fs-5">CONTATO</h2>

              <div class="d-flex align-items-center">
                <a class="link-body-emphasis me-2" href="#" aria-label="Email">
                  <i class="bi bi-envelope" style="font-size: 1.5rem"></i>
                </a>
                <p class="mb-0 fs-5">associacaobarracogaleriaart@gmail.com</p>
              </div>

              <div class="d-flex align-items-center">
                <a
                  class="link-body-emphasis me-2"
                  href="#"
                  aria-label="WhatsApp"
                >
                  <i class="bi bi-whatsapp" style="font-size: 1.5rem"></i>
                </a>
                <p class="mb-0 fs-5">(11) 97830-6166</p>
              </div>
            </div>

            <!-- Redes sociais -->
            <div class="col-md-3">
              <h2 class="fs-5">NOS SIGA NAS REDES SOCIAIS!</h2>
              <ul class="list-unstyled d-flex justify-content-center mt-2">
                <li class="me-3">
                  <a
                    class="link-body-emphasis"
                    href="https://www.instagram.com/associacao_barraco_galeria_art/"
                    aria-label="Instagram"
                  >
                    <i class="bi bi-instagram" style="font-size: 1.5rem"></i>
                  </a>
                </li>
                <!--<li>
                  <a class="link-body-emphasis" href="#" aria-label="Facebook">
                    <i class="bi bi-facebook" style="font-size: 1.5rem"></i>
                  </a>
                </li>-->
              </ul>
            </div>
          </div>
        </div>

        <div
          class="d-flex flex-column align-items-center justify-content-center py-2 my-2 border-top"
        >
          <p>&copy; 2025 - Associação Barraco Galeria ArtEducação</p>
          <p>Projeto acadêmico para Universidade Nove de Julho</p>
        </div>
      </footer>
    </div>
    <script>
      document
        .getElementById('bnt_contato')
        .addEventListener('click', function () {
          window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth',
          });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
