<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/projetos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="/docs/5.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
    />

    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-181A1B p-0"
        style="height: 90px; margin-right: 15%"
      >
        <div class="container d-flex justify-content-center">
          <img
            id="logo1"
            src="../../public/images/logopreto.jpg"
            class="navbar-brand m-0"
            href="#"
          />
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExample07"
            aria-controls="navbarsExample07"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarsExample07"
          >
            <ul class="navbar-nav mx-auto d-flex align-items-center">
              <li class="nav-item active">
                <a
                  class="nav-link d-flex align-items-center"
                  href="../principal.html"
                >
                  <img id="logo" src="../../public/images/logo.png" alt="Logo" />
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../sobre.html">Sobre</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdown07"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Projetos
                </a>
                <ul class="dropdown-menu p-0" aria-labelledby="dropdown07">
                  <li>
                    <a class="dropdown-item" href="./bike.html"
                      >Bike na Favela</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="./torry.html"
                      >A Torry Cultural
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="./gibis.html"
                      >Mais + Gibis</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="./geloteca.html"
                      >Projeto Geloteca</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="./livro.html"
                      >Projeto Doe Livro</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="./cesta.html"
                      >Projeto Cesta Básica</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a class="nav-link" id="bnt_contato">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../doe.html">Doe</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <article>
      <session>
        <div class="hero_gibis">
          <div class="overlay">
            <img id="gibis" src="../../public/images/mais-gibi.jpg" alt="" />
          </div>
        </div>

        <div class="content-wrapper_gibis">
          <div class="text-box">
            <p>
              Esse é o Projeto Mais Gibis, que faz parte da iniciativa Geloteca
              SP. O objetivo é incentivar a leitura de crianças e adolescentes
              nas periferias, especialmente por meio de gibis, mangás, fanzines
              e arte ilustrada — materiais que despertam o interesse da garotada
              por trazerem imagens cativantes e histórias envolventes, o que
              naturalmente estimula a leitura para entender o contexto narrativo
              das figuras.
            </p>
            <p>
              Trouxe esse projeto para o Barraco Galeria Arteducação com a ajuda
              do assistente social Adalberto Bussola, conhecido como Beto.
              Juntos, entramos em contato com João Belmonte, fundador do projeto
              Geloteca SP, e conseguimos instalar uma geladeira cheia de livros
              em frente à sede da associação.
            </p>
            <p>
              Essa geladeira fica exposta para que todos da comunidade possam
              pegar gibis e livros para ler, promovendo o acesso à leitura de
              forma simples, gratuita e criativa.
            </p>
          </div>
        </div>
      </session>
      <session>
        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row justify-content-center g-3">
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card shadow-sm">
                  <img
                    src="/public/images/gibis_0.jpg"
                    class="bd-placeholder-img card-img-top w-100"
                    height="400"
                    alt="Thumbnail"
                  />
                  <div class="card-body">
                    <p class="card-text">
                      A leitura em grupo estimula vínculos e socialização, além
                      de fortalecer o vocabulário.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card shadow-sm">
                  <img
                    src="/public/images/gibis_1.jpg"
                    class="bd-placeholder-img card-img-top w-100"
                    height="400"
                    alt="Thumbnail"
                  />
                  <div class="card-body">
                    <p class="card-text">
                      Heróis e histórias em quadrinhos despertam o interesse por
                      narrativas e valores.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card shadow-sm">
                  <img
                    src="/public/images/gibis_2.jpg"
                    class="bd-placeholder-img card-img-top w-100"
                    height="400"
                    alt="Thumbnail"
                  />
                  <div class="card-body">
                    <p class="card-text">
                      Dar autonomia para a criança escolher o que ler aumenta o
                      engajamento e o prazer pela leitura.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </session>

      <session>
        <div class="container__contribua">
          <div class="contribua_left">
            <h1>Contribua!</h1>
            <p>
              Junte-se a nós nessa jornada! Podemos alcançar impactos poderosos
              e duradouros. Faça parte dessa mudança conosco.
            </p>
          </div>
          <div class="contribua_right">
            <button>Entre em contato</button>
          </div>
        </div>
      </session>
      <session> </session>
    </article>

    <hr />
    <div class="container">
      <footer class="pt-4">
        <div class="container">
          <!-- Adiciona limites e centralização -->
          <div
            class="row d-flex align-items-center justify-content-center text-center pb-4"
          >
            <!-- Logo -->
            <div class="col-auto">
              <img
                style="width: 100px; height: auto"
                src="../../public/images/logo.png"
                alt="Logo"
              />
            </div>

            <!-- Endereço -->
            <div class="col-md-3">
              <h2 class="fs-5">NOSSO ENDEREÇO</h2>
              <p class="mb-0">
                R. Padre Justino, 653 - Vila Pirajussara, São Paulo - SP,
                05580-095
              </p>
            </div>

            <!-- E-mail -->
            <div class="col-md-3">
              <h2 class="fs-5">CONTATO</h2>

              <div class="d-flex align-items-center">
                <a class="link-body-emphasis me-2" href="#" aria-label="Email">
                  <i class="bi bi-envelope" style="font-size: 1.5rem"></i>
                </a>
                <p class="mb-0 fs-5">associacaobarraco@hotmail.com</p>
              </div>

              <div class="d-flex align-items-center">
                <a
                  class="link-body-emphasis me-2"
                  href="#"
                  aria-label="WhatsApp"
                >
                  <i class="bi bi-whatsapp" style="font-size: 1.5rem"></i>
                </a>
                <p class="mb-0 fs-5">(11)230293910</p>
              </div>
            </div>

            <!-- Redes sociais -->
            <div class="col-md-2">
              <h2 class="fs-5">NOS SIGA NAS REDES SOCIAIS!</h2>
              <ul class="list-unstyled d-flex justify-content-center mt-2">
                <li class="me-3">
                  <a class="link-body-emphasis" href="#" aria-label="Instagram">
                    <i class="bi bi-instagram" style="font-size: 1.5rem"></i>
                  </a>
                </li>
                <li>
                  <a class="link-body-emphasis" href="#" aria-label="Facebook">
                    <i class="bi bi-facebook" style="font-size: 1.5rem"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div
          class="d-flex flex-column flex-sm-row justify-content-center py-2 my-2 border-top"
        >
          <p>&copy; 2025 Company, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3">
              <a class="link-body-emphasis" href="#" aria-label="Instagram"
                ><svg class="bi" width="24" height="24">
                  <use xlink:href="#instagram" /></svg
              ></a>
            </li>
            <li class="ms-3">
              <a class="link-body-emphasis" href="#" aria-label="Facebook"
                ><svg class="bi" width="24" height="24" aria-hidden="true">
                  <use xlink:href="#facebook" /></svg
              ></a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <script>
      document
        .getElementById('bnt_contato')
        .addEventListener('click', function () {
          window.scrollTo({
            top: document.body.scrollHeight,
            behavior: 'smooth',
          });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
