* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*.container_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 70px;
    gap: 50px; 
}*/

.container_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    gap: 20px; 
}

.container_blog{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    width: 100;
    height: 300px;
    margin-bottom: 20px;
}

.container_blog > h1{
    font-size: 80px;
}

.content_esquerda{
    margin-left: 7%;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container_entrevista{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.content_direita{
    gap: 20px; 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_proj {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 222, 250);
    width: 40%;
    height: 347px;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.2s;
    -webkit-box-shadow: -5px 28px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 28px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 28px 26px 0px rgba(0,0,0,0.75);
    
}

.container_proj:hover{
    transform: scale(1.01);
}

.container_proj_left {
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 222, 250);
    width: 40%;
    height: 320px;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.2s;
    -webkit-box-shadow: -26px 13px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -26px 13px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -26px 13px 26px 0px rgba(0,0,0,0.75);
}

.container_proj_left:hover{
    transform: scale(1.01);
}

.container_proj_right {
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 222, 250);
    width: 40%;
    height: 390px;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.2s;
    -webkit-box-shadow: 17px 21px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 21px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 17px 21px 26px 0px rgba(0,0,0,0.75);
}

.container_proj_right:hover{
    transform: scale(1.01);
}

.container_proj_bike{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 222, 250);
    width: 40%;
    height: 362px;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.2s;
    -webkit-box-shadow: -5px 28px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 28px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 28px 26px 0px rgba(0,0,0,0.75);
}

.container_proj_bike:hover{
    transform: scale(1.01);
}

.container_proj_livros{
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 222, 250);
    width: 40%;
    height: 320px;
    border: 2px solid black;
    border-radius: 5px;
    transition: transform 0.2s;
    -webkit-box-shadow: -26px 13px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -26px 13px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -26px 13px 26px 0px rgba(0,0,0,0.75);
}

.container_proj_livros:hover{
    transform: scale(1.01);
}

.container_proj_livros > .proj_text_livros{
    margin-left: 6px;
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.container_proj > .proj_text_doacao{
    margin-top: 5px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: black;
}

.container_proj_right > .proj_text_choque{
    margin-top: 5px;
    text-align: center;
    width: 100%;
    font-size: 28px;
    color: black;
}

.container_proj_left > .proj_text{
    margin-left: 7px;
}

.container_proj_right > .proj_text{
    margin-right: 7px;
}

.container_proj_livros > .proj_img{
    border-radius: 5px;
    height: 100%;
}

.container_proj_right > .proj_img{
    border-radius: 5px;
    height: 100%;
}

.container_proj_left > .proj_img{
    border-radius: 5px;
    height: 100%;
}


.proj-left {
    align-self: flex-start;
    margin-left: 180px;
}

.proj-center {
    align-self: center;
}

.proj-right {
    align-self: flex-end;
    margin-right: 180px; 
}

.proj_img{
    width: 100%;
    height: 50%;
    
}

.proj_img > img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.proj_text{
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.proj_text > p{
    font-size: 16px;
    color: black;
}

/*header {
    background: #33333B;
    color: white;
    padding: 10px;
    text-align: center;
}
*/


/* resumo */

.resumo{
    padding-top: 20px;
    padding-bottom: 20px;
}

.container__resumo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%; /* Aumenta para caber a imagem + texto decentemente */
    margin: 0 auto; /* Centraliza a caixa na tela */
    border: 2px solid black;
    gap: 20px; /* Espaço entre a imagem e o texto */
    padding: 20px; /* Espaço interno bonito */

}

.resumo_left {
    flex-shrink: 0; /* A imagem não diminui */
    width: 150px;
    height: 150px;
}

.resumo_left > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir o espaço sem distorcer */
}

.resumo_right {
    display: flex;
    align-items: flex-start; /* Alinha o texto e o botão à esquerda */
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    flex: 1; /* O texto ocupa o restante do espaço */
}

.resumo_text p {
    margin: 0 0 20px 0; /* Espaço embaixo do texto para o botão */
    text-align: justify; /* Opcional: deixa o texto alinhadinho dos dois lados */
}

.resumo_button {
    align-self: flex-start;
}

.resumo_button > .card_button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.card_button:hover {
    background-color: white;
    color: black;
}


/* resumo */

/* cards*/
.container__card{
    font-size: large;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
}


.card_text{
    margin-bottom: 8px;
    text-align: justify;
}

.card_img{
    align-self: flex-start;
    width: 30%;
    height: 40%;
    margin-bottom: 15px;
}

.card_bike{
    align-self: flex-start;
    width: 60%;
    height: 40%;
    margin-bottom: 15px;
}

.card_bike > img{
    width: 100%;
    height: 100%;
}

.card_img > img{
    width: 100%;
    height: 100%;
}

.card_button_div {
    align-self: flex-start;
}

.card_button_div > .card_button{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}



.card_button:hover {
    background-color: white;
    color: black;
}

/* cards*/

/* contribuição session */

.container__faça_parte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-image: url(https://th.bing.com/th/id/R.1ee09e4b2af4bfb20f09b6b81d08b069?rik=5f4M6vElObjCag&riu=http%3a%2f%2fwww.imagens.usp.br%2fwp-content%2fuploads%2f20062012maosFotoMarcosSantos012.jpg&ehk=t8PxxAfr5Cfk5j%2bsXrFO2PkFqXK32ft74N%2fIFKtld9Y%3d&risl=&pid=ImgRaw&r=0);
    background-size: 100% 120%; 
    color: white;
    background-position: center;
}

.container__faça_parte > h1{
    font-size: 80px;
}

.faça_parte_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: 400px;
    width: 80%;
}

.faça_parte_cards > .card{
    color: white;
    background-color: #181A1B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 33%;
}

.faça_parte_cards > .card > p{
    text-align: justify;
}

.faça_parte_cards > .card > .button_card{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.card > .button_card:hover {
    background-color: white;
    color: black;
}

/* contribuição session */

/* Navegação */

header{
    background-color: #181A1B;
    color: white;
}

.container__navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 4px;
    width: 82%; 
    margin: 0 auto; 
}

.navbar_logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    
}

#logo { 
    width: 85px;
    height: 80px;
    border-radius: 1rem;
}

#logo1 {
    display: flex;
    width: 20%;
    height: 100%;
}

.navbar_links {
    display: flex;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.navbar_links > a {
    padding: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

#doe{
    padding: 30px;
    background-color: blue;
}

/* Navegação */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Aplica a fonte Bebas Neue aos títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    caret-color: transparent;
}

/* Aplica a fonte Jost ao restante do texto */
body, p, .navbar, .carousel-caption {
    font-family: 'Jost', sans-serif;
    caret-color: transparent;
}

.carousel-container {
    max-height: 550px;
    overflow: hidden;
}
.carousel-item img {
    height: 800px;
    object-fit: cover;
}
.carousel-item {
    position: relative;
}
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Sombramento do carrossel */
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    max-width: 50%;
}
.carousel-caption h5 {
    font-size: 3rem;
}
.carousel-caption p {
    font-size: 1.5rem;
}

/* Estilo para a seção de Cards */
.card-container {
    display: flex;
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 200px 0; /* Adiciona padding para os cards */
}
.card {
    min-width: 400px; /* Largura mínima para cada card */
    max-width: 300px; /* Largura máxima para cada card */
    flex-shrink: 0; /* Evita que os cards encolham */
}


