/* Navegação */

header{
    background-color: #181A1B;
    color: white;
}

.container__navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 4px;
    width: 82%; 
    margin: 0 auto; 
}

.navbar_logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    
}

#logo { 
    width: 85px;
    height: 80px;
    border-radius: 1rem;
}

#logo1 {
    display: flex;
    width: 20%;
    height: 100%;
}

.navbar_links {
    display: flex;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.navbar_links > a {
    padding: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

#doe{
    padding: 30px;
    background-color: blue;
}

/* Navegação */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Aplica a fonte Bebas Neue aos títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    caret-color: transparent;
}

/* Aplica a fonte Jost ao restante do texto */
body, p, .navbar, .carousel-caption {
    font-family: 'Jost', sans-serif;
    caret-color: transparent;
}

.container_hist {
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icons > img{
    width: 100px;
    height: 100px;
}

.content > img{
    width: 400px;
}

.icons > #a7ma{
    width: 170px;
    height: 100px;
}

section > img{
    width: 400px;
}

section {
    background: white;
    border-left: 6px solid #2c0feb;
    padding: 20px 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 5px;
    transition: transform 0.2s;
}

section:hover {
    transform: scale(1.01);
}

section h3 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #2c0feb;
}

section p, section ul {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    pointer-events: none;
}

section ul {
    list-style: disc;
    padding-left: 20px;
}

.footer {
    margin-top: 60px;
}